body{
    background-color: #eee;
}
.container{
    border: 2px solid black;
    background-color: #aaa;
    box-sizing: border-box;
    height: 600px;
    margin: 40px auto;
    width:400px;
    border-radius: 10px;
}
.display{
    margin: 10px 15px;
    border: 2px solid black;
    height: 150px;
    background-color: #eee;
    border-radius: 8px;
}
.display > #current{
    font-size: 45px;
    padding: 5px;
    text-align: right;
    
}
.display > #previous{
    font-size: 90px;
    text-align: right;
    padding-bottom:5 px;
    padding-right: 5px;
}
#clear,#delete{
    height: 75px;
    width: 175px;
    margin-left: 15px;
    border-radius: 8px;
    font-weight: 600;
}
#clear{
    background-color: #FFAAAA;
}
#delete{
    background-color: #AAAAFF;
}
.numberWrap button {
    margin-top: 10px;
}
div button{
    height: 75px;
    width:78px;
    margin-left:15px;
    border-radius:5px;
    font-weight: 600;
}